@{
    ViewData["Title"] = "Detalhe";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<!-- Product Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s"
                    style="max-width: 500px;">
                    <h1 class="display-5 mb-3">
                        
                        
                        
                        
                        
                                                 <br><br><br><br><br>Nossos Produtos</h1>
                    <p>Conheça nossa variedade de produtos:
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <img class="img-fluid" src="~/img/produtos/1.png" alt="">
    </div>
    <div class="col-lg-6">
        <label class="mt-5 text-justify">Model.Pokemon.Descricao</label> <hr />
        <label class="titulo w-25">Nome</label><label>Model.Pokemon.Especie</label> <hr />
        <label class="titulo w-25">Categoria</label><label>Model.Pokemon.Altura.ToString("N2") mt</label><hr />
        <label class="titulo w-25">Marca</label><label>Model.Pokemon.Altura.ToString("N2") mt</label><hr />
        <label class="titulo w-25">Valor</label><label>Model.Pokemon.Peso.ToString("N1") kg</label><hr />
    </div>
</div>

     <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Pesquise mais produtos</a>
    </div>